<div  fxLayout="column" style='border-style: double; border-color: coral' fxFlex fxLayoutAlign="space-evenly  stretch"> 
        <div style='border-style: dotted; border-color: coral'>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>About</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                            The goal of this project is to develop a web application implementing a dashboard able to show data received from the devices connected to it.
                    </p>
                    <p>
                        These devices are going to be placed all over the Universitat Autónoma de Barcelona (UAB) to send data like humidity, temperature, brightness and more using Low-Power Wide Area Network Protocol (LPWAN). These data is going to be stored in a server for its further treatment.
                    </p>
                    <p>
                        Every time a message is sent to this server, my application will be listening in order to store this data in a database and show this data in the web application I implemented.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="row" fxFlex>
            <div fxFlex="50" style='border-style: dotted; border-color: coral'>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Acknowledgements</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                            <p>
                                I would like to express my sincere gratitude to Jordi Carrabina Bordoll and Marc Codina Barbera for giving me the opportunity to develop this project. The possibility of working in the design and implementation of an application was not very high at the beginning of the search of the topic for my master thesis, but my professors suggest me this project and I really felt comfortable working on it.
                            </p>
                            <p>
                                Also thank some of my co-workers with whom I discussed about how I should develop some of the features included in the project. I really appreciate work with so talented people with years of experience from whom I can learn every day.
                                <br>
                                <br>
                            </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="50" style='border-style: dotted; border-color: coral' >
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Objectives</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                                As said, the main objective of this project is to develop a web application implementing a dashboard able to show data received from the devices connected to it. To achieve this objective I went through a set of sub objectives:
                        </p>
                        <ul>
                            <li>
                                    Develop a software solution able to manage and show the data captured by the devices in a given time frame.
                            </li>
                            <li>
                                    Study the currently available technologies and find out which are more suitable to reach the main objective.
                            </li>
                            <li>
                                    Apply LoRa protocol in a real environment to show how this protocol interacts with other technologies in a real environment.
                            </li>
                        </ul>
        
                    </mat-card-content>
                </mat-card>
            </div>
    </div>
</div>


