
<div mat-dialog-content>
<h1 mat-dialog-title>Insert Data of the new User</h1>
	<p>
    <mat-form-field appearance="standard">
	    <mat-label>Username</mat-label>
	    <input matInput placeholder="username" [(ngModel)]="data.username">
	    <mat-hint>Must be unique</mat-hint>
  	</mat-form-field>
  	</p>
    <p>
    <mat-form-field appearance="standard">
	    <mat-label>First Name</mat-label>
	    <input matInput placeholder="firstname" [(ngModel)]="data.firstName">
  	</mat-form-field>
  	</p>
    <p>
    <mat-form-field appearance="standard">
	    <mat-label>Last Name</mat-label>
	    <input matInput placeholder="lastname" [(ngModel)]="data.lastName">
  	</mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="standard">
	    <mat-label>Admin</mat-label>
	    <input matInput placeholder="admin" [(ngModel)]="data.admin">
	    <mat-hint>1 or 0</mat-hint>
  	</mat-form-field>
  	</p>
    <p>
    <mat-form-field appearance="standard">
	    <mat-label>Subscription to Devices</mat-label>
	    <input matInput placeholder="devices" [(ngModel)]="data.devices">
	    <mat-hint>Each name separated by ','</mat-hint>
  	</mat-form-field>
  	</p>
    <p>
    <mat-form-field appearance="standard">
	    <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="data.password">
        </mat-form-field>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Back</button>
    <button mat-button [mat-dialog-close]="data.username"  (click)="createUser()">OK</button>
</div>


        
        